{
    "extends": "react-app",
    "rules": {
        "no-console": "warn",
        "quotes": [
            1,
            "single",
            "avoid-escape"
        ],
        "no-multiple-empty-lines": [
            2,
            {
                "max": 1,
                "maxEOF": 0,
                "maxBOF": 0
            }
        ]
    }
}